.heading{
    font-size: 15px;
    width: 100%;
    margin: 0%;
    font-size: x-large;
    }
    
    .note{
        color: black;
        font-size: large;
    }
    
    body{
        background: cover;
    }
    
    .div_speed{
        float: left;
    }
    
    .div_speed_img{
        width: 200px;
        border-radius: 100%;
    }
    
    #speed{
        font-size: medium;
        margin: 15px;
    }
    
    .div_volume{
        float: right;
    }
    
    .div_volume_img{
        width: 200px;
        border-radius: 100%;
    }
    
    #volume{
        font-size: medium;
        margin: 15px;
    }
    
    .play_button{
        width: 130px;
        font-size: x-large;
    }
    
    canvas{
        border: 5px solid white;
        border-radius: 20px;
    }